{% extends 'base.html.twig' %}
{# @var users \App\Entity\User[] #}


{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">User id</th>
            <th scope="col">User fullname</th>
            <th scope="col">User nickname</th>
            <th scope="col">User permission(s)</th>
            <th scope="col">Creation date</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for element in users %}
                <tr>
                    <th scope="row">{{ element.getUserId }}</th>
                    <td>{{ element.getUserFullname }}</td>
                    <td>{{ element.getUsername }}</td>
                    <td>{{ element.getRoles[0] }}</td>
                    <td>{{ element.getUserCreationdate|date("m/d/Y") }}</td>

                    <td>
                        <a style="margin-right: 5px" href="{{ path('edituser', { 'user_id': element.getUserId }) }}">Edit User</a>
                        <a style="margin-right: 5px" href="{{ path('changerole', { 'user_id': element.getUserId }) }}">Change Role</a>
                        <a style="margin-right: 5px" href="{{ path('deleteuser', { 'user_id': element.getUserId }) }}">Delete User</a>
                    </td>

                </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
