{% extends 'base.html.twig' %}

{% block body %}
    <div style="width: 400px;padding: 20px">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}