{% extends 'base.html.twig' %}
{# @var documents \App\Entity\Document[] #}

{% block body %}
    <table>
        {% for document in documents %}
            <div class="card" style="width: 18rem; margin: auto">
                <div class="card-body">
                    <h5 class="card-title">{{ document.getDocumentTitle }}</h5>
                    <h6 class="card-text">{{ document.getDocumentDescription }}</h6>
                    <p class="card-subtitle mb-2 text-muted"> Number of likes: {{ document.getDocumentLikes }}</p>
                    <a href="{{ path('readdocument', { 'document_id': document.getDocumentId }) }}" class="card-link">Read article</a>
                </div>
            </div>
        {% endfor %}
    </table>
{% endblock %}