{% extends 'base.html.twig' %}
{# @var topics \App\Entity\Topic[] #}

{% block body %}
    <table>
        {% for topic in topics %}

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ topic.getTopicName }}</h5>
                    <h6 class="card-text">{{ topic.getTopicDescription }}</h6>
                    <p class="card-subtitle mb-2 text-muted"> Number of documents: {{ topic.getTopicDocumentCount }}</p>
                    <a href="{{ path('showtopic', { 'topic_id': topic.getTopicId }) }}" class="card-link">See documents</a>
                </div>
            </div>

        {% endfor %}
    </table>
{% endblock %}