{% extends 'base.html.twig' %}
{# @var document \App\Entity\Document #}

{% block body %}

<section class="mb-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
        </div>
        <div class="col-md-6">

    <h5 style="text-align: left; color: cornflowerblue"><strong>{{ document.getDocumentTitle }}</strong></h5>
            <p class="mb-2 text-muted text-uppercase small">{{ document.getDocumentTopic.getTopicName }}</p>

            <p class="pt-1">Description: {{ document.getDocumentDescription }}</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Content</strong></th>
                        <td><textarea style="size: B4">{{ document.getDocumentContent }}</textarea></td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Uploader</strong></th>
                        <td>{{ document.getDocumentCreator.getUsername }}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Upload date</strong></th>
                        <td>{{ document.getDocumentCreationdate|date("m/d/Y") }}</td>
                        <span class="mr-1">Likes: {{ document.getDocumentLikes }}</span>
                    </tr>
                    </tbody>
                </table>
            </div>
    <br>
    <h5>Feedbacks</h5>
    <hr>
            {% for feedback in document.getDocumentFeedbacks %}
                <p>{{ feedback.getFeedbackAuthor.getUsername }}: {{ feedback.getFeedbacktext }}</p>
            {% endfor %}
            <div style="width: 400px;padding: 20px">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            {% endblock %}