{% extends 'base.html.twig' %}
{# @var mpf \App\Entity\Feedback #}

{% block body %}

<h1>Most popular feedbacks</h1>
<hr>
<br>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Feedback</th>
        <th scope="col">Upvotes</th>
        <th scope="col">Downvotes</th>
    </tr>
    </thead>
    <tbody>

    {%for feedback in mpf%}

        <tr>
            <td>{{ feedback.getFeedback_text }}</td>
            <td>{{ feedback.getFeedback_upvotes }}</td>
            <td>{{ feedback.getFeedback_downvotes }}</td>
        </tr>

    {%endfor %}

    </tbody>
</table>

{% endblock %}