{% extends 'base.html.twig' %}
{# @var mpf \App\Entity\Feedback #}

{% block body %}
    <h1>Average likes per topic</h1>
    <hr>
    <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Topic</th>
                <th scope="col">Avg. likes</th>
            </tr>
            </thead>
            <tbody>

            {%for key, value in result%}

                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>

            {%endfor %}

            </tbody>
        </table>
{% endblock %}