{% extends 'base.html.twig' %}

{% block body %}
    {# @var documents \App\Entity\Topic #}
    <div class="container-fluid">
        <div class="row">
            {% for document in documents.getTopicDocuments %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ document.getDocumentTitle }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Description: {{ document.getDocumentDescription}}</li>
                        <li class="list-group-item">Creator: {{ document.getDocumentCreator.getUsername }}</li>
                        <li class="list-group-item">Content: {{ document.getDocumentContent }}</li>
                        <li class="list-group-item">Uploaded date: {{ document.getDocumentCreationdate|date("m/d/Y") }}</li>
                        <li class="list-group-item">Likes: {{ document.getDocumentLikes }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('readdocument', { 'document_id': document.getDocumentId }) }}" class="card-link">Read document</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}