body {
    margin: 5px;
    font-family: Calibri;
}
div {
    padding: 10px;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.col {
    /* CSS multicol layout: "float: left" OR "css3 flexbox" */
    display: table-cell;
}

#wrapper {
    width: 100%;
    padding: 0px;
    display: table;
}
#header {
    height: 100px;
    width: 100%;
    background-color: lightgreen;
}
#footer {
    height: 50px;
    width: 100%;
    background-color: lightgreen;
}
#menu {
    width: 20%;
    border-right: dotted 1px black;
}
#main {
    width: 80%;
}
/* https://bootstrapious.com/p/bootstrap-sidebar */