{# Displays the flashbag #}

{% set notices = app.session.flashbag.get('notice') %}

{% for msg in notices %}
    <p style="color:red;font-weight: bold">{{ msg }}</p>
{% endfor %}
{% if notices is not empty %}
    <hr />
{% endif %}
